@import './base/reset.scss';
.container {
    width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    height: 1000px;
    background: #F2F2F2;
}

.first-sec {
    background: linear-gradient(180deg, rgba(255, 74, 53, 0.1) 0%, rgba(255, 74, 53, 0) 100%);
    padding-bottom: 241px;
}

.sub-logo {
    display: flex;
    padding-left: 70px;
    position: relative;
    top: -8px;
}

.logo>a img {
    width: 232px;
}

.sub-logo span {
    max-width: 125px;
    font-size: 14px;
    line-height: 1.3;
    color: #000000;
    opacity: 0.8;
    display: block;
    margin-right: 8px;
}

.header {
    display: flex;
    padding-top: 28px;
}

.right-menu {
    flex: 1;
    padding-left: 104px;
}

.right-menu__location {
    display: flex;
    align-items: center;
    font-weight: 600;
    svg {
        margin-right: 10px;
    }
}

.right-menu__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 27px;
}

.right-menu__contact {
    display: flex;
}

.right-menu__phone-mail {
    text-align: right;
    margin-right: 40px;
    position: relative;
    top: 10px;
    .phone {
        font-weight: 600;
        font-size: 20px;
        line-height: 140%;
    }
}

.btn {
    background-color: transparent;
    padding: 15px 25px;
    border: 1px solid #ff49357a;
    border-radius: 50px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 140%;
    cursor: pointer;
    transition: 0.3s all;
}

.btn:hover {
    border: 1px solid #FF4A35;
}

.right-menu__bot ul {
    display: flex;
    justify-content: space-between;
}

.right-menu__bot ul li {
    transition: 0.3s all;
}

.right-menu__bot ul li:hover {
    color: #FF4A35;
}

@media(max-width: 1264px) {
    .right-menu {
        padding-left: 50px;
    }
    .logo>a img {
        width: 175px;
    }
    .sub-logo {
        padding-left: 0px;
        top: 0px;
    }
    .right-menu__bot ul li {
        font-size: 14px;
    }
}

.burger {
    display: none;
}

@media(max-width: 1024px) {
    .burger {
        display: block;
        width: 50px;
        height: 50px;
        background-color: transparent;
        border: none;
        border: 1px solid #FF4A35;
        padding: 10px;
        border-radius: 100%;
        position: relative;
        overflow: hidden;
        transition: 0.5s;
        position: absolute;
        top: 12px;
        right: 15px;
    }
    .burger span {
        width: 100%;
        height: 2px;
        margin: 6px 0;
        display: block;
        background-color: #000;
        // transition: 0.3s all;
    }
    .burger.active {
        transform: rotate(360deg);
    }
    .burger.active span:nth-child(2) {
        opacity: 0;
    }
    .burger.active span:nth-child(1) {
        position: absolute;
        top: 17px;
        left: 10px;
        width: 28px;
        transform: rotate(-45deg);
    }
    .burger.active span:nth-child(3) {
        position: absolute;
        top: 17px;
        left: 10px;
        width: 28px;
        transform: rotate(45deg);
    }
    .sub-logo {
        display: none;
    }
    .header {
        justify-content: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 5;
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 0 15px;
        overflow: hidden;
        transition: 0.3s all;
        padding-top: 10px;
        padding-bottom: 5px;
        height: 74px;
        background: linear-gradient( 180deg, rgba(255, 74, 53, .1) 0, rgba(255, 74, 53, .1) 100%);
    }
    .header.active {
        height: 100%;
        bottom: 0;
        background: #fff5f4;
    }
    .header.scroll {
        background: #fff5f4;
    }
    .right-menu {
        display: flex;
        order: 2;
        width: 100%;
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        flex: 1;
        transition: 0.3s all;
        opacity: 0;
        position: absolute;
        right: 0;
        left: 0;
        top: 95px;
        bottom: 0;
        overflow: auto;
    }
    .header.active .right-menu {
        opacity: 1;
    }
    .right-menu__top {
        order: 2;
    }
    .right-menu__bot {
        order: 1;
    }
    .right-menu__bot ul {
        flex-direction: column;
    }
    .right-menu__bot ul li {
        text-align: right;
        font-size: 18px;
        margin-bottom: 20px;
    }
    .right-menu__top {
        justify-content: flex-end;
        margin-top: 30px;
    }
    .right-menu__location {
        margin-right: 40px;
    }
    #app {
        padding-top: 74px;
    }
}

@media(max-width: 767px) {
    .right-menu__top {
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
    }
    .right-menu__location {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .right-menu__contact {
        flex-direction: column;
    }
    .right-menu__phone-mail {
        top: 0;
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.first-ekran {
    display: flex;
    padding-top: 44px;
}

.first-ekran__right {
    width: 50%;
    h1 {
        font-weight: 600;
        font-size: 60px;
        line-height: 120%;
        margin-bottom: 14px;
    }
    span {
        font-size: 20px;
        line-height: 150%;
        display: block;
        margin-bottom: 49px;
        max-width: 450px;
    }
}

.first-ekran__left {
    padding-top: 44px;
    padding-right: 90px;
    width: 50%;
    img {
        max-width: 100%;
    }
}

.btn-red {
    background: #FF4A35;
    border-radius: 50px;
    padding: 21px 44px;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.1em;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s all;
    text-transform: uppercase;
}

.btn-red:hover {
    background: #EB3520;
}

.first-ekran__partner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 28px;
}

.first-ekran__partner__text {
    font-size: 14px;
    line-height: 140%;
    max-width: 153px;
    text-align: center;
}

@media(max-width: 1199px) {
    .first-ekran__right h1 {
        font-size: 46px;
    }
}

@media(max-width: 991px) {
    .first-ekran__right h1 {
        font-size: 31px;
        max-width: 380px;
    }
    .first-ekran__right span {
        font-size: 16px;
        max-width: 270px;
    }
    .first-ekran__left {
        padding-right: 45px;
    }
}

@media(max-width: 767px) {
    .first-ekran {
        flex-direction: column-reverse;
    }
    .first-ekran__right {
        width: 100%;
    }
    .first-ekran__left {
        display: none;
    }
    .first-ekran__right span {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 71px;
    }
    .first-ekran__right h1 {
        max-width: 100%;
        text-align: center;
    }
    .first-ekran__right .btn-red {
        display: block;
        margin: 0 auto;
    }
    .first-ekran__partner {
        justify-content: center;
    }
    .first-ekran__right h1 {
        font-size: 7vw;
        max-width: 85vw;
        margin-left: auto;
        margin-right: auto;
    }
    .first-ekran__right span {
        font-size: 4vw;
        max-width: 66vw;
    }
    .btn-red {
        font-size: 14px;
    }
}

.sec1 .sec__title {
    margin-bottom: 65px;
    max-width: 836px;
}

.sec__title {
    font-weight: 600;
    font-size: 60px;
    line-height: 140%;
    span {
        color: #FF4A35;
    }
}

.sec1 {
    padding-bottom: 50px;
}

.sec1__cloud {
    position: relative;
    max-width: 1100px;
    button {
        margin-right: 30px;
        margin-bottom: 30px;
        font-size: 18px;
        padding: 20px 46px;
    }
    button.active {
        background: #EB3520;
        color: #fff;
    }
}

.sec1__cloud__wrap {
    display: flex;
    flex-wrap: wrap;
}

.sec1__cloud img {
    position: absolute;
    top: 100%;
    right: 0;
    transform: translate(16%, -25%);
}

@media(max-width: 1199px) {
    .sec1__cloud img {
        transform: translate(3%, -39%);
    }
}

.sec1__cloud__text {
    max-width: 603px;
    display: none;
    font-size: 18px;
}

.sec1__cloud__wraper {
    min-height: 87px;
    width: 100%;
}

@media(max-width: 767px) {
    .sec1__cloud__wraper {
        min-height: initial;
    }
}

.sec1__cloud__text.active {
    display: block;
}

@media(max-width: 991px) {
    .sec__title {
        font-size: 45px;
    }
    .sec1__cloud img {
        display: none;
    }
    .sec1__cloud button {
        margin-right: 20px;
        margin-bottom: 20px;
        font-size: 14px;
    }
}

@media(max-width: 767px) {
    .first-sec {
        padding-bottom: 100px;
    }
    .sec__title {
        font-size: 35px;
    }
    .sec1 .sec__title {
        margin-bottom: 45px;
    }
    .sec1__cloud__wrap {
        flex-wrap: nowrap;
        align-items: center;
        overflow: auto;
        // margin-bottom: 30px;
        width: 100%;
    }
    .sec1__cloud button {
        margin-bottom: 30px;
        padding: 15px 25px;
        margin-right: 10px;
        min-width: max-content;
    }
    .sec1__cloud__text {
        font-size: 16px;
    }
    .sec__title {
        font-size: 24px;
    }
    .sec1 .sec__title {
        max-width: 380px;
    }
}

@media(max-width: 374px) {
    .sec1__cloud button {
        font-size: 12px;
        padding: 10px 15px;
    }
}

.sec2 {
    padding-top: 218px;
    position: relative;
    background-image: url('../img/sec2-fon.svg');
    background-repeat: no-repeat;
    background-position: top center;
    padding-bottom: 249px;
}

.sec2 .sec__title2 {
    max-width: 751px;
    margin-bottom: 52px;
}

.sec__title2 {
    font-weight: 600;
    font-size: 50px;
    line-height: 140%;
    span {
        color: #FF4A35;
    }
}

.sec2__wrap {
    display: flex;
    flex-direction: column;
}

.sec2__item__text {
    max-width: 500px;
    padding-left: 50px;
    width: 100%;
}

.sec2__item__text__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: 10px;
    position: relative;
    max-width: 290px;
}

.sec2__item__text__title span {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-50px);
    display: block;
    width: 36px;
    height: 36px;
    background: #585CE9;
    border-radius: 100%;
    text-align: center;
    line-height: 36px;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.sec2__item__text__text {
    font-size: 18px;
    line-height: 160%;
    opacity: 0.7;
}

.sec2__item__text__li {
    margin-bottom: 30px;
}

.sec2__item__left {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1010px;
}

.sec2__item__right {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 1100px;
}

.sec2__item__right .sec2__item__img {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-bottom: 25px;
}

.sec2__item__right .sec2__item__text__title {
    max-width: 332px;
}

.sec2__item__right .sec2__item__text__text {
    max-width: 345px;
}

.sec2__item__img img {
    max-width: 100%;
}

.sec2__item__img {
    padding-left: 50px;
}

@media(max-width: 991px) {
    .sec2__item__img {
        width: 350px;
    }
    .sec2__item__right .sec2__item__img {
        width: 500px;
    }
    .sec2__item__right .sec2__item__img img {
        width: 200px;
    }
    .sec2__item__right {
        flex-direction: row-reverse;
    }
    .sec2__item__right .sec2__item__img {
        align-items: flex-start;
        justify-content: center;
    }
    .sec2__item__text {
        max-width: 430px;
    }
    .sec2 {
        padding-bottom: 100px;
    }
}

@media (max-width: 991px) {
    .sec__title2 {
        font-size: 45px;
    }
}

@media(max-width: 767px) {
    .sec2__item__img {
        display: none;
    }
    .sec2__item__right .sec2__item__img {
        display: none;
    }
    .sec2__item__right {
        flex-direction: row;
    }
    .sec__title2 {
        font-size: 24px;
    }
    .sec2 .sec__title2 {
        max-width: 400px;
    }
    .sec2 {
        padding-bottom: 50px;
    }
    .sec2__item__text__li {
        margin-bottom: 50px;
    }
    .sec2 {
        padding-top: 50px;
    }
}

@media(max-width: 424px) {
    .sec2__item__text__title {
        font-size: 16px;
    }
    .sec2__item__text__text {
        font-size: 16px;
    }
    .sec2__item__text__title span {
        height: 26px;
        width: 26px;
        line-height: 26px;
        font-size: 16px;
    }
    .sec2__item__text {
        padding-left: 40px;
    }
    .sec2__item__text__title span {
        transform: translateX(-40px);
    }
}

.sec3 {
    padding-bottom: 100px;
    overflow: hidden;
}

.sec3 .sec__title {
    max-width: 910px;
    margin-bottom: 60px;
}

.sec3__text {
    max-width: 787px;
    font-size: 20px;
    line-height: 160%;
    opacity: 0.8;
    margin-bottom: 76px;
}

.sec3__wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
    justify-content: flex-start;
}

.sec3__item {
    width: calc(1/3*100% - 40px);
    margin: 0 20px;
    background: #FFFFFF;
    border-radius: 30px;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 44px;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 40px;
}

.sec3__item img {
    margin-bottom: 20px;
}

.sec3__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    max-width: 280px;
    margin: 0 auto;
    margin-bottom: 5px;
    height: 75px;
}

.sec3__item__text {
    font-size: 18px;
    line-height: 140%;
    opacity: 0.6;
    height: 25px;
    margin-bottom: 19px;
}

.sec3__item .btn-red {
    padding: 19px 36px;
    font-size: 16px;
    font-weight: 400;
}

@media(max-width: 1199px) {
    .sec3__item {}
    .sec3__title {
        font-size: 16px;
    }
    .sec3__item .btn-red {
        padding: 19px 25px;
        font-size: 14px;
    }
    .sec3__item__text {
        font-size: 16px;
    }
}

@media(max-width: 991px) {
    .sec3__item {
        width: 374px;
        max-width: calc(1/2*100% - 40px);
        ;
    }
    .sec3__title {
        font-size: 18px;
    }
    .sec3__item__text {
        font-size: 18px;
    }
}

@media(max-width: 767px) {
    .sec3__item {
        max-width: initial;
    }
    .sec3__wrap {
        justify-content: center;
    }
    .sec3 .sec__title {
        max-width: 400px;
        margin-bottom: 30px;
    }
    .sec3__text {
        font-size: 16px;
    }
}

@media(max-width: 374px) {
    .sec3__title {
        font-size: 16px;
    }
    .sec3__item__text {
        font-size: 16px;
    }
    .sec3__item .btn-red {
        padding: 19px 20px;
        font-size: 14px;
    }
}